<br />
<hr />
<div>
  <img
    src="https://upload.wikimedia.org/wikipedia/en/thumb/c/ca/Studio_Ghibli_logo.svg/1200px-Studio_Ghibli_logo.svg.png"
  />
</div>
<br />
<hr>
<h1 style="text-align:center; color:black; font-family:Bradley Hand, cursive; ">Winner's Fan Arts Today!</h1>

<div class="b">
  <app-portfolio-lightbox portfolioURL="/assets/image.json"></app-portfolio-lightbox>
</div>
<br />
<hr />
<h1 style="text-align:center; color:black; font-family:Bradley Hand, cursive; ">More Information</h1>
<div class="row fg">
  <div class="col-sm-4 ml-5 ">
    <div class="card card1">
      <div class="card-body text-center">
        <a href="#lehao" class="btn " routerLink="/cart">
          <img
            class="img-thumbnail "
            src="https://upload.wikimedia.org/wikipedia/en/thumb/c/ca/Studio_Ghibli_logo.svg/1200px-Studio_Ghibli_logo.svg.png"
        /></a>
        <a href="#lehao" class="btn " routerLink="/cart">
          <p class="card-text font1">Sign up & Login</p>
        </a>
      </div>
    </div>
  </div>

  <div class="col-sm-4 ml-5 ">
    <div class="card card1">
      <div class="card-body text-center">
        <a href="#jason" class="btn " routerLink="/graphic"><img
            class="img-thumbnail "
            src="https://upload.wikimedia.org/wikipedia/en/thumb/c/ca/Studio_Ghibli_logo.svg/1200px-Studio_Ghibli_logo.svg.png"
        /></a>
        <p class="card-text font1">We share our arts here!!</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 ml-5 ">
    <div class="card card1">
      <div class="card-body text-center">
        <a href="#jason" class="btn " routerLink="/illustration"><img
            class="img-thumbnail "
            src="https://upload.wikimedia.org/wikipedia/en/thumb/c/ca/Studio_Ghibli_logo.svg/1200px-Studio_Ghibli_logo.svg.png"
            style="width: 40em; "
            alt=""
        /></a>
        <p class="card-text font1">About Us</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 ml-5 ">
    <div class="card card1">
      <div class="card-body text-center">
        <a href="#jason" class="btn "><img
            class="img-thumbnail "
            src="https://upload.wikimedia.org/wikipedia/en/thumb/c/ca/Studio_Ghibli_logo.svg/1200px-Studio_Ghibli_logo.svg.png"
            style="width: 40em; "
            alt=""
        /></a>
        <p class="card-text font1">We vote people's arts here!!</p>
      </div>
    </div>
  </div>
</div>
<br>
<hr>
<div class="blackborder">
  <div class="lehao">
    <h3 class="f4">CONTACT US</h3>
    <p>(718) 631-6262</p>
  </div>

  <div class="lehao1">
    <h3 class="f4">EMAIL</h3>
    <p>1260595392@qq.com</p>
  </div>

  <div class="lehao2">
    <h3 class="f4">ADDRESS</h3>
    <p>222-05 56th Ave, <br>  Queens, NY 11364 <br> Student Union Building </p>

  </div>


  <div class="lehao">
    <nav>
      <img class="jason01"src="https://www2.qcc.cuny.edu/research-day/images/logo-2018.png">
    </nav>
  </div>



  <div class="lehao5">

    <p class="lehao6"></p>
    <br>
  </div>
</div>